*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(images/bkgd.jpg);
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    color: aliceblue;
    font-family: 'Averia Libre';
    font-size: 30px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.side-bar{

}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -60px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 1s;
    width: 20px;
}
.bubbles img:nth-child(2){
    animation-delay: 2.5s;
    width: 25px;
}
.bubbles img:nth-child(3){
    animation-delay: 1.5s;
    width: 30px;
}
.bubbles img:nth-child(4){
    animation-delay: 1s;
    width: 20px;
}
.bubbles img:nth-child(5){
    animation-delay: 3.5s;
    width: 15px;
}
.bubbles img:nth-child(6){
    animation-delay: 3s;
    width: 35px;
}
.bubbles img:nth-child(7){
    animation-delay: 1s;
    width: 25px;
}
h2{
    color: aliceblue;
    font-family: 'Averia Libre';
    font-size: 30px;
}
.icon{
    color: #fbfcfd;
}
/* Styles for the contact form */
.contact-form {
    position: fixed;
    transform: translate(0, 50%);
  top: 0;
  right: -100%; /* Initially hidden to the right */
  background-color: transparent; /* Transparent background */
  width: 80%; /* Adjust width as needed */
  max-width: 400px; /* Maximum width for larger screens */
  padding: 2px; /* Add padding for better appearance */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Drop shadow */
  transition: right 0.5s ease; /* Dropdown transition */
  z-index: 999;
    display:none;
  }
  
  /* Show the form when the show-form class is added */
  .contact-form.show-form {
    right: calc((100vw - 400px) / 2); /* Center the form horizontally */
  }
  
  .input-box {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-box input {
    width: calc(100% - 40px); /* Adjust input width */
    padding: 15px; /* Adjust input padding */
    font-size: 20px; /* Adjust input font size */
    border: none; /* Remove border */
    border-bottom: 1px solid #000; /* Add bottom border */
    background-color: transparent; /* Set background color to transparent */
    padding-left: 30px; /* Adjust left padding to make space for the icon */
  }
  
  .input-box .icon {
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px; /* Adjust icon position */
  font-size: 20px;
  }
  .input-box input::placeholder {
    color: #000; /* Set placeholder color to black */
    font-size: 15px;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .contact-form {
      width: 90%; /* Adjust width for smaller screens */
      max-width: 300px; /* Maximum width for smaller screens */
      top: 50%; /* Center vertically */
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
  